---
import MenuItem from './MenuItem.astro'
---

<nav>
  <ul class="flex gap-4 text-sm md:gap-8 md:text-base">
    <MenuItem href="videos">Videos</MenuItem>
    <MenuItem href="about">Acerca de</MenuItem>
    <MenuItem href="contact">Contacto</MenuItem>
  </ul>
</nav>
