---
import Container from '../../layouts/Container.astro'
---

<Container>
  <div class="my-8">
    <h1 class="font-guerrilla my-4 text-4xl font-bold tracking-widest">@JexuxGG</h1>
    <p>Bienvenidos a este canal de reseñas y tops, contenido que hago actualmente.</p>
    <p>
      ¡Acompáñenme en esta aventura gaming! Si les gusta lo que ven, ¡no olviden darle like y suscribirse para formar
      parte de esta comunidad gamer!
    </p>
  </div>
</Container>
