---
import Container from '../../layouts/Container.astro'
---

<Container>
  <div class="flex flex-col 2xl:flex-row 2xl:items-center">
    <div class="my-8 animate-show opacity-0 2xl:flex-1">
      <h1 class="my-4 font-guerrilla text-4xl font-bold tracking-widest text-primary lg:text-5xl">@JexuxGG</h1>
      <div class="flex flex-col gap-1">
        <p class="font-bold">Bienvenidos a este canal de reseñas y tops, contenido que hago actualmente.</p>
        <p class="text-primary">¡Acompáñenme en esta aventura gaming!</p>
        <p>
          Si les gusta lo que ven, ¡no olviden darle like y <span class="text-primary">suscribirse</span> para formar parte
          de esta comunidad gamer!
        </p>
        <p>¡Juntos exploraremos el fascinante mundo de los videojuegos! 😊🎮</p>
      </div>
      <div class="mt-8">
        <div class="g-ytsubscribe" data-channelid="UCBoGhuGJ49FlvpegB7DQWjQ" data-layout="full" data-count="default">
        </div>
      </div>
    </div>
    <div class="2xl:flex-1">
      <img class="rounded-md" src="banner.jpg" alt="banner" />
    </div>
  </div>
</Container>
