---
import Hero from '../components/hero/Hero.astro'
import Header from '../components/header/Header.astro'
import Logo from '../components/header/Logo.astro'
import GridVideos from '../components/videos/GridVideos.astro'
import Container from '../layouts/Container.astro'
import Layout from '../layouts/Layout.astro'
import Menu from '../components/menu/Menu.astro'
import About from '../components/about/About.astro'
// import { fetchVideos } from '../utils/fetchVideos.js'
---

<script>
  import '@justinribeiro/lite-youtube'
</script>

<Layout title="JexuxGG | Reseñas de Videojuegos">
  <Header>
    <Logo />
    <Menu />
  </Header>
  <Hero />
  <main class="my-16 border-t border-gray-300 py-8">
    <Container>
      <GridVideos />
    </Container>
  </main>
  <About />
  <script src="https://apis.google.com/js/platform.js"></script>
</Layout>
