---
import CardVideo from '../components/CardVideo.astro'
import Subtitle from '../components/Subtitle.astro'
import Video from '../icons/Video.astro'
import Layout from '../layouts/Layout.astro'
// import { fetchVideos } from '../utils/fetchVideos.js'
import { items } from '../utils/fetchVideosResult.js'
const videos = items
---

<script>
  import '@justinribeiro/lite-youtube'
</script>

<Layout title="JexuxGG | Reseñas de Videojuegos">
  <div class="mx-auto w-10/12">
    <main>
      <Subtitle><Video w="30" h="30" /> Últimos videos</Subtitle>
      <ul class="grid grid-cols-auto-fill gap-4 text-white">
        {videos.map((element: any) => <CardVideo video={element} />)}
      </ul>
    </main>
  </div>

  <script src="https://apis.google.com/js/platform.js"></script>

  <div class="g-ytsubscribe" data-channelid="UCBoGhuGJ49FlvpegB7DQWjQ" data-layout="full" data-count="default"></div>
</Layout>
