---
import Hero from '../components/hero/Hero.astro'
import Header from '../components/header/Header.astro'
import Logo from '../components/header/Logo.astro'
import Subtitle from '../components/Subtitle.astro'
import GridVideos from '../components/videos/GridVideos.astro'
import Video from '../icons/Video.astro'
import Container from '../layouts/Container.astro'
import Layout from '../layouts/Layout.astro'
import Menu from '../components/menu/Menu.astro'
// import { fetchVideos } from '../utils/fetchVideos.js'
---

<script>
  import '@justinribeiro/lite-youtube'
</script>

<Layout title="JexuxGG | Reseñas de Videojuegos">
  <Header>
    <Logo />
    <Menu />
  </Header>
  <Hero />
  <main>
    <Container>
      <Subtitle section="videos"><Video w="30" h="30" /> Últimos videos</Subtitle>
      <GridVideos />
    </Container>
  </main>
  <script src="https://apis.google.com/js/platform.js"></script>

  <div class="g-ytsubscribe" data-channelid="UCBoGhuGJ49FlvpegB7DQWjQ" data-layout="full" data-count="default"></div>
</Layout>
