---
import Mail from '../../icons/Mail.astro'
import At from '../../icons/socials/At.astro'
import Container from '../../layouts/Container.astro'
import Subtitle from '../Subtitle.astro'
import Socials from './Socials.astro'
---

<section id="contact" class="my-16 border-t border-gray-600 py-8">
  <Container>
    <Subtitle><Mail w="30" h="30" /> Contacto</Subtitle>
    <div class="flex justify-center">
      <div>
        <div class="flex justify-center">
          <a
            class="inline-flex items-center rounded-xl border border-primary bg-gradient-to-l from-zinc-800 to-zinc-900 bg-double p-2 transition-all hover:scale-105 hover:animate-moveGradient"
            href="mailto:aberestecorreo@gmail.com"><At w="40" h="40" /> Envíame un correo</a
          >
        </div>
        <Socials />
      </div>
    </div>
  </Container>
</section>
