---
import Container from '../../layouts/Container.astro'
---

<footer class="border-t border-zinc-800 bg-zinc-950 py-8 text-primary">
  <Container>
    <p class="text-center">@JexuxGG | 2024</p>
  </Container>
</footer>
